{% extends '/club/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Clubs - Detail
{% endblock %}

{% block section %}
    <section class="section-detail">
        <article>
            <div>
                <a href="{{ path( 'club_edit', {id: club.id} ) }}" class="btn btn--edit">edit</a>
            </div>
            <h2>
                {{ club.name }}
            </h2>
            <h3>Managed By</h3>
            {% if club.manageBy is empty %}
                <span>Don't have any group admin.</span>
            {% else %}
                {% for manager in club.manageBy %}
                    <span> {{ manager.username }}</span>
                {% endfor %}
            {% endif %}
            <h3>Number of members</h3>
            <span>number of members</span>
            <h3>SubClub</h3>
            {% if club.subClubs is empty %}
                <span>Don't have any subClub.</span>
            {% endif %}
            {% for subClub in club.subClubs %}
                <span>{{ subClub.name }}</span>
            {% endfor %}
            <h3>Supergroup</h3>
            {% if club.superClub is null %}
                <span>Don't have superClub.</span>
            {% else %}
                <span>{{ club.superClub.name }}</span>
            {% endif %}
        </article>
    </section>
{% endblock %}