{% extends '/bookings/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Bookings
{% endblock %}

{% block section %}
    <section class="section-list">
        {% if requests is empty %}
            <h2 class="section-list__notice">no requests in database</h2>
            <a href="{{ path( 'request_create')}}" class="section-list__notice__btn btn btn--add btn--big">book a room</a>
        {% else %}
            <section class="section-list__hud-panel">
                <h3>Request</h3>
                <div class="section-list__hud-panel__tags">
                    <span class="tag">date</span>
                </div>
                <div class="section-list__hud-panel__buttons">
                    <a href="{{ path( 'request_create')}}" class="btn btn--add">book</a>
                </div>
            </section>
            {% for request in requests %}
                <article>
                    <h2>
                        {{ request.room.name }}
                    </h2>
                    <div class="section-list__buttons">
                        <a href="{{ path( 'request_detail', {id: request.id} ) }}" class="btn btn--view">view</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path( 'request_remove', {id: request.id} ) }}" class="btn btn--delete">cancel</a>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}