{% extends 'layout.html.twig' %}

{% block title %}
    Room booking - Building detail
{% endblock %}

{% block section %}
    <section class="section-detail">
        <article>
            <div>
                <a href="#" class="btn btn--delete">delete</a>
                <a href="#" class="btn btn--edit">edit</a>
            </div>
            <h2>
                {{  building.name }}
            </h2>
            <h3>Street & Street Number</h3>
            <span>{{  building.street }} & {{ building.streetNumber }}</span>
            <h3>City</h3>
            <span>{{ building.city }}</span>
            <h3>State</h3>
            <span>{{ building.state }}</span>
            <h3>Country</h3>
            <span>{{ building.country }}</span>
            <h3>Rooms</h3>
            {% for room in building.rooms %}
                <span>{{ room.name }}</span>
            {% endfor %}
        </article>
    </section>
{% endblock %}