{% extends 'layout.html.twig' %}

{% block title %}
    Room Booking - Manage Buldings
{% endblock %}

{% block headerNavigation %}
    <nav>
        <a href="{{ path( 'index' ) }}">rooms</a>
        <a href="">bookings</a>
        <a id="sub-nav-title--manage" href="#">manage</a>
        <nav id="sub-nav--manage">
            <a href="{{ path( 'requests' ) }}">room requests</a>
            <a href="">room admins</a>
            <a href="{{ path( 'clubs' ) }}">clubs</a>
            <a href="{{ path('rooms') }}">rooms</a>
            <a href="{{ path( 'buildings' ) }}" id="nav-option--highlighted">buildings</a>
        </nav>
        <a class="header-navigation__logout" href="{{ path( 'app_login' ) }}">login</a>
    </nav>
{% endblock %}

{% block section %}
    <section class="section-buildings-list">
        {% if buildings is empty %}
            <h2>No building in database</h2>
        {% endif %}
        {% for building in buildings %}
            <article>
                <h2>
                    {{ building.name }}
                </h2>
                <div>
                    <a href="{{ path( 'building_detail', {id: building.id} ) }}" class="btn btn--view">view</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path( 'building_edit', {id: building.id} ) }}" class="btn btn--edit">edit</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}