{% extends 'layout.html.twig' %}

{% block headerNavigation %}
    <nav>
        <a href="{{ path( 'index' ) }}">rooms</a>
        <a href="">bookings</a>
        <a id="sub-nav-title--manage" href="#">manage</a>
        <nav id="sub-nav--manage">
            <a href="{{ path( 'requests' ) }}">room requests</a>
            <a href="">room admins</a>
            <a href="{{ path( 'groups' ) }}">groups</a>
            <a href="{{ path('rooms') }}">rooms</a>
            <a href="{{ path( 'buildings' ) }}" id="nav-option--highlighted">buildings</a>
        </nav>
        <a class="header-navigation__logout" href="{{ path( 'app_login' ) }}">login</a>
    </nav>
{% endblock %}

{% block section %}
    <section class="section-list">
        <article>
            <h2>
                <span>building name</span>
            </h2>
            <a href="#" class="btn btn--view">edit</a>
        </article>
    </section>
{% endblock %}