{% extends '/account/component/roomAdmins_navbar.html.twig' %}

{% block title %}
    Room Booking - Room Admins
{% endblock %}

{% block section %}
    <section class="section-list">
        {% if admins is empty %}
            <h2 class="section-list__notice">no room's admin in database</h2>
            <a href="{{ path( 'accounts')}}" class="section-list__notice__btn btn btn--add btn--big">add admin</a>
        {% endif %}
        <section class="section-list__hud-panel">
            <h3>Username</h3>
            <div class="section-list__hud-panel__tags">
                <span class="tag">Room</span>
            </div>
            <div class="section-list__hud-panel__buttons">
                <a href="{{ path( 'accounts')}}" class="btn btn--add">add</a>
            </div>
        </section>
        {% for admin in admins %}
                {% for room in admin.roomsManager %}
                    <article>
                        <h2>{{ admin.username }}</h2>
                        <div class="section-list__tags">
                            <span class="tag">{{ room.name }}</span>
                        </div>
                        <div class="section-list__buttons">
                            <a href="{{ path('room_edit', {id : room.id}) }}" class="btn btn--edit">reassign</a>
                            <a href="{{ path('account_detail', {id : admin.id}) }}" class="btn btn--view">view</a>
                        </div>
                    </article>
                {% endfor %}
        {% endfor %}
    </section>
{% endblock %}