{% extends '/request/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Requests
{% endblock %}

{% block section %}
    <section class="section-list">
        {% if requests is empty %}
            <h2 class="section-list__notice">no request in database</h2>
        {% else %}
        <section class="section-list__hud-panel">
            <h3>Request</h3>
            <div class="section-list__hud-panel__tags">
                <span class="tag">capacity</span>
                <span class="tag">user</span>
            </div>
        </section>
        {% for request in requests %}
        <article>
            <h2>
                {{ request.room.name }}
            </h2>
            <div class="section-list__tags">
                <span class="tag">{{ request.room.capacity }}</span>
                <span class="tag">{{ request.createBy.username }}</span>
            </div>
            <div class="section-list__buttons">
                <a href=""{{ path('request_remove') }} class="btn btn--delete">deny</a>
                <a href="{{ path( 'request_detail', {id: request.id})}}" class="btn btn--view">view</a>
            </div>
        </article>
        {% endfor %}
        {% endif %}

    </section>
{% endblock %}