{% extends 'layout.html.twig' %}

{% block headerNavigation %}
    <nav>
        <a href="{{ path( 'index' ) }}">rooms</a>
        <a href="">bookings</a>
        <a id="sub-nav-title--manage" href="#">manage</a>
        <nav id="sub-nav--manage">
            <a href="{{ path( 'requests' ) }}"  id="nav-option--highlighted">room requests</a>
            <a href="">room admins</a>
            <a href="{{ path( 'groups' ) }}">groups</a>
            <a href="{{ path('rooms') }}">rooms</a>
            <a href="{{ path( 'buildings' ) }}">buildings</a>
        </nav>
        <a class="header-navigation__logout" href="{{ path( 'app_login' ) }}">login</a>
    </nav>
{% endblock %}

{% block section %}
    <section class="section-list">
{#        <article>#}
{#            <h2>#}
{#                <span>room name</span>#}
{#            </h2>#}
{#            <span class="tag tag--capacity">capacity</span>#}
{#            <span class="tag tag--room-type">#}
{#                    room type#}
{#                </span>#}
{#            <a href="#" class="btn btn--view">requests</a>#}
{#        </article>#}

        {% if requests is empty %}
            <h2>No request</h2>
        {% endif %}

        {% for request in requests %}
            <article>
                <span>{{ request.id }}</span>
                <span>{{ request.room.name }}</span>
            </article>
            <a href="#" class="btn btn--view">details</a>#}
        {% endfor %}

    </section>
{% endblock %}