{% extends '/room/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Rooms - Detail
{% endblock %}

{% block section %}
    <section class="section-detail">
        <article>
            <div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('room_remove', { id: room.id }) }}" class="btn btn--delete">delete</a>
                {% endif %}
                {% if is_granted('edit', room) or is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('room_edit', { id: room.id }) }}" class="btn btn--edit">edit</a>
                {% endif %}
            </div>
            <h2>
                {{ room.name }}
            </h2>
            <h3>Room Type</h3>
            <span>{{ room.type }}</span>
            <h3>Capacity</h3>
            <span>{{ room.capacity }}</span>
            <h3>Admin</h3>
            {% if room.manageBy is null %}
                <span>Not manage by anyone</span>
            {% else %}
                <span> {{ room.manageBy.username }}</span>
            {% endif %}

            <h3>Description</h3>
            <p>
                {{ room.description }}
            </p>
        </article>
    </section>
{% endblock %}