{% extends 'layout.html.twig' %}

{% block headerNavigation %}
<nav>
    <a href="{{ path( 'index' ) }}">rooms</a>
    <a href="">bookings</a>
    <a id="sub-nav-title--manage" href="#">manage</a>
    <nav id="sub-nav--manage">
        <a href="{{ path( 'requests' ) }}" >room requests</a>
        <a href="">room admins</a>
        <a href="{{ path( 'clubs' ) }}">clubs</a>
        <a href="{{ path('rooms') }}"  id="nav-option--highlighted">rooms</a>
        <a href="{{ path( 'buildings' ) }}">buildings</a>
    </nav>
    <a class="header-navigation__logout" href="{{ path( 'app_login' ) }}">login</a>
</nav>
{% endblock %}

{% block section %}
        {% if rooms is empty %}
            <h2>No room in database</h2>
        {% endif %}

        {% for room in rooms %}
            <article>
                <h2>
                    <span>{{ room.name }}</span>
                </h2>
                <div>
                    <span class="tag tag--capacity">{{ room.capacity }}</span>
                    <span class="tag tag--room-type">{{ room.type }}</span>
                </div>
                <div>
                    {% if room.requests is not defined %}
                        <a href="#" class="btn btn--view">book</a>
                    {% else %}
                        <a href="#" class="btn btn--view">occupy</a>
                    {% endif %}
                    <a href="{{ path('room_detail', {id : room.id}) }}" class="btn btn--view">view</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}