{% extends '/room/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Rooms
{% endblock %}

{% block section %}
    <section class="section-list">
        {% if rooms is empty %}
            <h2 class="section-list__notice">no room in database</h2>
            <a href="{{ path( 'room_create')}}" class="section-list__notice__btn btn btn--add btn--big">add room</a>
        {% else %}
        <section class="section-list__hud-panel">
            <h3>Room</h3>
            <div class="section-list__hud-panel__tags">
                <span class="tag tag--dark">capacity</span>
                <span class="tag tag--dark">type</span>
            </div>
            <div class="section-list__hud-panel__buttons">
                <a href="{{ path( 'room_create')}}" class="btn btn--add">add</a>
            </div>
        </section>
        {% for room in rooms %}
            <article>
                <h2>
                    <span>{{ room.name }}</span>
                </h2>
                <div class="section-list__tags">
                    <span class="tag">{{ room.capacity }}</span>
                    <span class="tag">{{ room.type }}</span>
                </div>
                <div class="section-list__buttons">
                    <a href="{{ path('room_edit', {id : room.id}) }}" class="btn btn--edit">edit</a>
                    <a href="{{ path('room_detail', {id : room.id}) }}" class="btn btn--view">view</a>
                </div>
            </article>
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}