{% extends 'layout.html.twig' %}

{% block title %}
    Room Booking - Room Admins
{% endblock %}

{% block headerNavigation %}
    <nav>
        <a href="{{ path( 'index' ) }}">rooms</a>
        <a href="">bookings</a>
        <a id="sub-nav-title--manage" href="#">manage</a>
        <nav id="sub-nav--manage">
            <a href="{{ path( 'requests' ) }}">room requests</a>
            <a href="" id="nav-option--highlighted">room admins</a>
            <a href="{{ path( 'groups' ) }}">groups</a>
            <a href="{{ path('rooms') }}">rooms</a>
            <a href="{{ path( 'buildings' ) }}">buildings</a>
        </nav>
        <a class="header-navigation__logout" href="{{ path( 'app_login' ) }}">login</a>
    </nav>
{% endblock %}

{% block section %}
    <section class="section-list">
        <article>
            <h2>
                Admin Username
            </h2>
            <div class="section-list__tags">
                <span class="tag tag--room-name">room name</span>
                <span class="tag tag--room-type">group</span>
            </div>
            <div class="section-list__buttons">
                <a href="#" class="btn btn--add">reassign</a>
                <a href="#" class="btn btn--delete">cancel</a>
            </div>
        </article>
    </section>
{% endblock %}